/*NOMES: João Vitor Anchieta Oliveira
Gabriel de frança, Eduarda Gonçalves e Jennifer lacerda*/ 

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.tema-escuro {
  background-color: #222;
}

.app-container {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tema-claro {
  background-color: #dbdbdb; 
  color: #000;
}

.tema-escuro {
  background-color: #222; 
  color: #fff;
}

header {
  text-align: center;
  margin-bottom: 2px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header input,
header select,
header button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 20px;
  background-color: #e4e4e4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header select,
header button {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

button {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover, select:hover {
  transform: translateY(5px); /* Efeito hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.0);
  
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 90px;
  margin-top: 0px; 
}


.book {
  width: 150px;
  height: 220px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.9);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 5px;
}

.book:hover {
  transform: translateY(5px); 
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}
.tema-escuro .book:hover {
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}
.tema-escuro .book {
  color: floralwhite;
}


.ficcao {
  background-color: #fffc52de;

}

.romance {
  background-color: #ff64a2d0;
}

.aventura {
  background-color: #5493ffd0;
}

.fantasia {
  background-color: #b163ffce;
}

.nao-ficcao {
  background-color: #c79e7fd5;
}

.ciencia {
  background-color: #7fff5fd5;
}

.historia {
  background-color: #d76948dc;
}

.autoajuda {
  background-color: #67ffb6dc;
}

.biografia {
  background-color: #ffefdce0;
}

.sem-categoria {
  background-color: #d3d3d3da;
}

/* tema escuro */
.tema-escuro .ficcao {
  background-color: #cab530c4;
  box-shadow: 0 3px 7px #f4ffa3;
}

.tema-escuro .romance {
  background-color: #b34776c9;
  box-shadow: 0 3px 7px #ffa4c9;
}

.tema-escuro .aventura {
  background-color: #3c6abfcc;
  box-shadow: 0 3px 7px #a6c7ff;
}

.tema-escuro .fantasia {
  background-color: #7d41c1c4;
  box-shadow: 0 3px 7px #c78fff;
}

.tema-escuro .nao-ficcao {
  background-color: #87674cc0;
  box-shadow: 0 3px 7px #f7c39b;
}

.tema-escuro .ciencia {
  background-color: #53c746c2;
  box-shadow: 0 3px 7px #b7ffa4;
}

.tema-escuro .historia {
  background-color: #9e4b2fc2;
  box-shadow: 0 3px 7px #ffac92;
}

.tema-escuro .autoajuda {
  background-color: #45b196bb;
  box-shadow: 0 3px 7px  #a0ffd1;
}

.tema-escuro .biografia {
  background-color: #c0af92be;
  box-shadow: 0 3px 7px #ffefdc;
}

.tema-escuro .sem-categoria {
  background-color: #9a9a9abe;
  box-shadow: 0 3px 7px #ffffff;
}

.tema-escuro header{
  background-color: #323232;
  color: rgb(255, 255, 255);
}
.tema-escuro button{
  background-color: #222;
  color: white;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}
.tema-escuro select{
  background-color: #222;
  color: white;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.687);
}
button:hover, select:hover {
  transform: translateY(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.0);
  
}

.tema-escuro input{
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
  background-color: #222;
  color: white;
}
.tema-escuro header{
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}
.tema-claro {
  background-color: #dbdbdb;
  background-image: url('/public/jennie-mantrar.jpg'); /* Nome atualizado */
  background-size: cover;
  background-position: center;
  color: #000;
}

.tema-escuro {
  background-color: #222;
  background-image: url('/public/jennie-mantra-carro.jpg'); /* Nome atualizado */
  background-size: cover;
  background-position: center;
  color: #fff;
}
